TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE=

PORT =

FRONTEND_URL=

MONGO_URI=mongodb:

SMTP_HOST = 
SMTP_SERVICE =
SMTP_PORT =
SMTP_MAIL =
SMTP_PASSWORD =

JWT_EXPIRE=
JWT_SECRET_KEY=
COOKIE_EXPIRE=